<template>
  <div
    class="perfect-figma-path">
    <ul class="perfect-figma-path-list">
      <li
        class="perfect-figma-path-item"
        @click="home">
        <PerfectFigmaButton
          :nodes="origin" />
      </li>
      <li
        v-for="a of path"
        :key="a.node"
        class="perfect-figma-path-item"
        @click="click(a)">
        <PerfectFigmaImage
          :token="token"
          :file="file"
          :node="a.node" />
      </li>
    </ul>
    <div
      v-if="title"
      class="perfect-figma-path-title">
      {{ title }}
    </div>
  </div>
</template>

<script>
import fetchFigma from '@/mixins/fetchFigma'
import PerfectFigmaButton from './PerfectFigmaButton'
import PerfectFigmaImage from './PerfectFigmaImage'
export default {
  name: 'PerfectFigmaPath',
  mixins: [
    fetchFigma
  ],
  components: {
    PerfectFigmaButton,
    PerfectFigmaImage
  },
  props: {
    path: {
      type: Array,
      default: () => []
    },
    origin: {
      type: String,
      required: true
    }
  },
  computed: {
    title () {
      if (this.path.length) return this.path[this.path.length - 1].name
      else return ''
    }
  },
  methods: {
    click (artwork) {
      const i = this.path.indexOf(artwork)
      const l = this.path.length
      if (i + 1 !== l) {
        const path = this.path.slice(0, i + 1)
        this.$emit('back', path)
      }
    },
    home () {
      this.$emit('home')
    }
  }
}
</script>

<style lang="scss">
.perfect-figma-path-list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
  display: inline-block;
  &:hover {
    .perfect-figma-path-item {
      opacity: .3;
      &:hover {
        opacity: 1;
      }
    }
  }
}
.perfect-figma-path-item {
  display: inline-block;
  vertical-align: middle;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  padding: 5px;
  cursor: pointer;
  transition: opacity .2s ease-in-out;
  .perfect-figma-image {
    display: inline-block;
    vertical-align: middle;
    min-height: inherit;
  }
  img {
    max-width: 50px;
    max-height: 50px;
    box-shadow: 0px 1px 5px rgba(black, .4);
  }
}
.perfect-figma-path-title {
  padding: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
</style>

<docs>
```
new Vue({
  template: `
  <div>
    <pre>{{ path }}</pre>
    <PerfectFigmaPath
      token="183821-34c36bd9-2a55-47b7-acd4-767859e778da"
      file="YThuDXhX6KCl7du6b7ik94"
      :path="path"
      origin="0%3A258,0%3A198"
      @back="setPath" />
  </div>
  `,
  data () {
    return {
      path: [
        { name: 'Layer 1', node: '0%3A258'},
        { name: 'Layer 2 nom super mega long', node: '0%3A198'}
      ]
    }
  },
  methods: {
    setPath (path) {
      this.path = path
    }
  }
})
```
</docs>
