<template>
<div
  :style="style"
  class="perfect-figma-container"
  :class="{ 'perfect-figma-container-ready': ready }">
  <PerfectFigmaOverlay
    v-if="node"
    v-show="display"
    @load="setSize"
    :token="token"
    :file="file"
    :node="node"
    :opacity="opacity" />
  <div
    v-show="ready"
    class="perfect-figma-container-component">
    <slot></slot>
  </div>
</div>
</template>

<script>
import fetchFigma from '@/mixins/fetchFigma'
import PerfectFigmaOverlay from './PerfectFigmaOverlay'
export default {
  name: 'PerfectFigmaContainer',
  mixins: [
    fetchFigma
  ],
  components: {
    PerfectFigmaOverlay
  },
  props: {
    node: {
      type: String,
      required: true
    },
    opacity: {
      type: Number,
      required: true
    },
    display: {
      type: Boolean
    }
  },
  data () {
    return {
      width: 'auto',
      height: 'auto',
      ready: false
    }
  },
  computed: {
    style () {
      return {
        width: this.width,
        height: this.height
      }
    }
  },
  methods: {
    setSize (width, height) {
      this.ready = true
      this.width = width + 'px'
      this.height = height + 'px'
    }
  }
}
</script>

<style lang="scss" scoped>
.perfect-figma-container {
  position: relative;
  margin: 50px auto;
  background: white;
  &-ready {
    box-shadow: 0px 5px 25px rgba(black, .4);
  }
}
</style>
