<template>
  <div
    class="perfect-figma-overlay"
    :style="{ opacity: opacity + '%' }">
    <PerfectFigmaImage
      :token="token"
      :file="file"
      :node="node"
      @load="load"
      @save="save" />
  </div>
</template>

<script>
import fetchFigma from '@/mixins/fetchFigma'
import PerfectFigmaImage from './PerfectFigmaImage'
export default {
  name: 'PerfectFigmaOverlay',
  mixins: [
    fetchFigma
  ],
  components: {
    PerfectFigmaImage
  },
  props: {
    node: {
      type: String,
      required: true
    },
    opacity: {
      type: Number,
      default: 30
    }
  },
  data () {
    return {
      img: ''
    }
  },
  methods: {
    load (width, height) {
      /** Event when overlay is loaded, emits the size
       * @event load
       * @property {number} width width in px
       * @property {number} height height in px
       */
      this.$emit('load', width, height)
    },
    save (img) {
      const ts = Date.now()
      const canvas = document.createElement('canvas')
      const ctx = canvas.getContext('2d')
      const width = img.width
      const height = img.height
      canvas.width = width
      canvas.height = height
      ctx.drawImage(img, 0, 0)
      const data = canvas.toDataURL('image/jpeg')
      const res = { id: this.node, data, width, height, ts }
      if (window.pfdx) window.pfdx.graphics.put(res)
    }
  }
}
</script>

<style lang="scss">
.perfect-figma-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: max-content;
  min-height: max-content;
  transform: translate(-50%,-50%);
  pointer-events: none;
  line-height: 0;
}
</style>

<docs>
```
new Vue({
  template: `
  <div style="position:relative; height:700px;">
    <pre>{{ width }} x {{ height }}</pre>
    <PerfectFigmaOverlay
      @load="setSize"
      token="183821-34c36bd9-2a55-47b7-acd4-767859e778da"
      file="YThuDXhX6KCl7du6b7ik94"
      node="0:130" />
  </div>
  `,
  data () {
    return {
      width: 0,
      height: 0,
    }
  },
  methods: {
    setSize (w, h) {
      this.width = w
      this.height = h
    }
  }
})
```
</docs>
