<template>
  <div
    :draggable="draggable"
    @dragstart="dragstart"
    @drag="drag"
    class="perfect-figma-box"
    style="top: 10px; right: 10px;">
    <div
      class="perfect-figma-box-trigger"
      @click="toggle">
      <PerfectFigmaButton
        :nodes="nodes"
        :close="opened" />
    </div>
    <div
      v-if="opened"
      class="perfect-figma-box-modal">
      <div
        @mouseover="dragOff"
        @mouseleave="dragOn">
        <PerfectFigmaSettings
          :display="display"
          :opacity="opacity"
          @change="settings" />
      </div>
      <PerfectFigmaPath
        :token="token"
        :file="file"
        :path="path"
        :origin="origin"
        @back="setPath"
        @home="home" />
      <PerfectFigmaFolder
        :token="token"
        :file="file"
        :nodes="folder"
        :selected="selected"
        @select="select" />
    </div>
  </div>
</template>

<script>
import fetchFigma from '@/mixins/fetchFigma'
import PerfectFigmaButton from './PerfectFigmaButton'
import PerfectFigmaSettings from './PerfectFigmaSettings'
import PerfectFigmaPath from './PerfectFigmaPath'
import PerfectFigmaFolder from './PerfectFigmaFolder'
export default {
  name: 'PerfectFigmaBox',
  mixins: [
    fetchFigma
  ],
  components: {
    PerfectFigmaButton,
    PerfectFigmaSettings,
    PerfectFigmaPath,
    PerfectFigmaFolder
  },
  props: {
    /**
     * Figma node ids separated by coma,
     */
    nodes: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      draggable: true,
      elLeft: 0,
      elTop: 0,
      posX: 0,
      posY: 0,

      origin: this.nodes,
      opened: false,
      folder: this.nodes,
      path: [],
      selected: '',
      display: true,
      opacity: 25
    }
  },
  computed: {
    config () {
      return {
        opened: this.opened,
        folder: this.folder,
        path: this.path,
        selected: this.selected,
        display: this.display,
        opacity: this.opacity
      }
    }
  },
  watch: {
    config: {
      handler (val) {
        const conf = JSON.stringify(val)
        localStorage.setItem('[PF]', conf)
      },
      deep: true
    }
  },
  methods: {
    settings (config) {
      this.display = config.display
      this.opacity = config.opacity
      this.$emit('settings', config)
    },
    toggle () {
      this.opened = !this.opened
    },
    home () {
      this.selected = ''
      this.path = []
      this.folder = this.origin
    },
    select (artwork) {
      const id = artwork.node
      this.folder = artwork.children
      this.selected = id
      this.path.push(artwork)
      this.$emit('select', id)
    },
    setPath (path) {
      const lastOne = path[path.length - 1]
      this.folder = lastOne.children
      this.path = path
      this.selected = lastOne.node
      this.$emit('select', lastOne.node)
    },
    dragOn () {
      this.draggable = true
    },
    dragOff () {
      this.draggable = false
    },
    dragstart (e) {
      const el = e.target
      this.elLeft = el.offsetLeft
      this.elTop = el.offsetTop
      this.posX = e.clientX
      this.posY = e.clientY
      el.style.right = null
      el.style.left = this.elLeft + 'px'
      el.style.top = this.elTop + 'px'
    },
    drag (e) {
      const el = e.target
      if (e.clientX && e.clientY) {
        const left = this.elLeft - (this.posX - e.clientX)
        const top = this.elTop - (this.posY - e.clientY)
        el.style.left = left + 'px'
        el.style.top = top + 'px'
      }
    }
  },
  mounted () {
    this.$parent.$el
      .addEventListener('dragover', e => {
        e.preventDefault()
      })
  },
  created () {
    let saved = localStorage.getItem('[PF]')
    if (saved) {
      saved = JSON.parse(saved)
      Object.assign(this.$data, saved)
      const init = {
        selected: this.selected,
        opacity: this.opacity,
        display: this.display
      }
      this.$emit('settings', init)
    }
  }
}
</script>

<style lang="scss">
.perfect-figma-box {
  position: absolute;
  z-index: 1000;
}
.perfect-figma-box-trigger {
  position: absolute;
  top: 0;
  right: 0;
}
.perfect-figma-box-modal {
  position: absolute;
  top: 51px;
  right: 8px;
  background: white;
  box-sizing: border-box;
  border: 1px dotted black;
  width: 270px;
  max-height: 620px;
  overflow: auto;
  .perfect-figma-path,
  .perfect-figma-folder {
    cursor: grab;
  }
}
</style>
