<template>
  <div
    class="perfect-figma-image"
    :class="{ 'perfect-figma-image-loading': loading }">
    <PerfectFigmaSpinner
      v-if="loading" />
    <img
      ref="img"
      crossorigin=""
      @load="load"
      v-if="img"
      :src="img" />
  </div>
</template>

<script>
import fetchFigma from '@/mixins/fetchFigma'
export default {
  name: 'PerfectFigmaImage',
  mixins: [
    fetchFigma
  ],
  props: {
    node: {
      type: String,
      required: true
    },
    selected: {
      type: Boolean
    }
  },
  data () {
    return {
      local: false,
      img: ''
    }
  },
  watch: {
    node (val) {
      this.local = false
      this.getImage(val)
    }
  },
  methods: {
    load (e) {
      if (this.$refs.img) {
        const width = this.$refs.img.width
        const height = this.$refs.img.height
        /** Event when overlay is loaded, emits the size
         * @event load
         * @property {number} width width in px
         * @property {number} height height in px
         */
        this.$emit('load', width, height)
        if (!this.local) this.$emit('save', e.currentTarget)
      }
    },
    getImage (node) {
      window.pfdx.graphics.get(node).then(res => {
        if (!res) this.fetchImg(node)
        else {
          this.local = true
          this.img = res.data
        }
      })
    },
    fetchImg (node) {
      this.fetchFigma(node, true).then(res => {
        this.img = Object.values(res.images)[0]
      })
    }
  },
  created () {
    this.getImage(this.node)
  }
}
</script>

<style lang="scss">
.perfect-figma-image {
  position: relative;
  display: block;
  line-height: 0;
  img {
    max-width: 100%;
  }
  &-loading {
    min-height: 40px;
    min-width: 40px;
  }
}
</style>

<docs>
Simple component to load an image from a node id
```
<PerfectFigmaImage
  token="183821-34c36bd9-2a55-47b7-acd4-767859e778da"
  file="YThuDXhX6KCl7du6b7ik94"
  node="0:130" />
```
</docs>
