<template>
<span class="perfect-figma-button">
  <span>{{ text }}</span>
</span>
</template>

<script>
export default {
  name: 'PerfectFigmaButton',
  props: {
    nodes: {
      type: String,
      required: true
    },
    close: {
      type: Boolean
    }
  },
  computed: {
    text () {
      if (this.close) return '✕'
      else return this.nodes.split(',').length
    }
  }
}
</script>

<style lang="scss">
.perfect-figma-button {
  display: block;
  position: relative;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  transition: all .2s ease-in-out;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  font-size: 12px;
  cursor: pointer;
  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
  }
  &:before,
  &:after {
    width: 24px;
    height: 24px;
    content: '';
    transition: all .2s ease-in-out;
    position: absolute;
    border: 1px dotted black;
    z-index: 1;
    background: rgba(white, .5);
  }
  &:before {
    top: 8px;
    left: 8px;
  }
  &:after {
    top: 16px;
    left: 16px;
  }
  &:hover {
    color: white;
    &:before {
      top: 16px;
      left: 16px;
      background: black;
    }
    &:after {
      top: 8px;
      left: 8px;
      background: black;
    }
  }
}
</style>

<docs>
PerfectFigma button
```
<PerfectFigmaButton
  nodes="0%3A258,0%3A198" />
```
</docs>
