<template>
  <div class="perfect-figma-folder">
    <PerfectFigmaSpinner
      v-if="loading" />
    <div
      v-if="!loading && !artworks.length"
      class="perfect-figma-folder-empty">
      No more subcomponent found
    </div>
    <ul
      v-if="artworks.length"
      class="perfect-figma-folder-list">
      <li
        v-for="a of artworks"
        :key="a.node"
        class="perfect-figma-folder-item"
        :class="{ 'perfect-figma-folder-item-selected': a.node === selected  }"
        @click="click(a)">
        <PerfectFigmaImage
          :token="token"
          :file="file"
          :node="a.node" />
      </li>
    </ul>
  </div>
</template>

<script>
import fetchFigma from '@/mixins/fetchFigma'
import PerfectFigmaImage from './PerfectFigmaImage'
export default {
  name: 'PerfectFigmaFolder',
  components: {
    PerfectFigmaImage
  },
  mixins: [
    fetchFigma
  ],
  props: {
    nodes: {
      type: String,
      required: true
    },
    selected: {
      type: String
    }
  },
  data () {
    return {
      artworks: []
    }
  },
  watch: {
    nodes (val) {
      this.fetchFolder()
    }
  },
  methods: {
    click (node) {
      this.$emit('select', node)
    },
    fetchFolder () {
      this.artworks = []
      this.fetchFigma(this.nodes).then(res => {
        if (res && res.nodes) {
          this.artworks = Object.values(res.nodes).map(a => {
            let children = ''
            if (a.document.children) {
              children = a.document.children.reduce((acc, val) => {
                if (!acc) acc = val.id
                else acc = acc + ',' + val.id
                return acc
              }, '')
            }
            return { name: a.document.name, node: a.document.id, children }
          })
        } else {
          this.artworks = []
        }
      })
    }
  },
  created () {
    this.fetchFolder()
  }
}
</script>

<style lang="scss">
.perfect-figma-folder {
  display: block;
  position: relative;
  min-height: 60px;
}
.perfect-figma-folder-list {
  display: block;
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 10px;
}
.perfect-figma-folder-item {
  display: inline-block;
  vertical-align: middle;
  max-width: 100px;
  max-height: 100px;
  margin: 10px;
  cursor: pointer;
  border: 1px dotted black;
  img {
    transition: all .2s ease-in-out;
    opacity: .2;
    max-width: 100px;
    max-height: 100px;
  }
  &-selected,
  &:hover {
    border: 1px solid black;
    img {
      opacity: 1;
    }
  }
}
.perfect-figma-folder-empty {
  text-align: center;
  font-style: italic;
  line-height: 30px;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  font-size: 12px;
}
</style>

<docs>
```
<PerfectFigmaFolder
  token="183821-34c36bd9-2a55-47b7-acd4-767859e778da"
  file="YThuDXhX6KCl7du6b7ik94"
  nodes="0%3A258,0%3A198" />
```
</docs>
