<template>
  <div class="perfect-figma-settings-diplay">
    <input
      type="checkbox"
      id="figma-display"
      class="figma-display-checkbox"
      :checked="display"
      @change="$emit('change', $event.target.checked)">
    <label for="figma-display">Enable overlay</label>
  </div>
</template>

<script>
export default {
  name: 'PerfectFigmaSettingsDisplay',
  model: {
    prop: 'display',
    event: 'change'
  },
  props: {
    display: {
      type: Boolean
    }
  }
}
</script>

<style lang="scss">
.perfect-figma-settings-diplay {
  display: inline-block;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  font-size: 12px;
  line-height: 30px;

  [type="checkbox"].figma-display-checkbox {
    display: none;
  }
  [type="checkbox"].figma-display-checkbox + label {
    cursor: pointer;
    padding: 0 5px 0 0;
  }
  [type="checkbox"].figma-display-checkbox + label:before {
    content: '';
    display: inline-block;
    vertical-align: baseline;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    border: 1px dotted black;
    box-sizing: border-box;
    transition: all .2s ease-in-out;
  }
  [type="checkbox"].figma-display-checkbox:checked + label:before {
    border: 1px solid black;
    background: black;
  }
}
</style>

<docs>
```
new Vue({
  template: `
  <div>
    <button @click="display = true">Enable</button>
    <button @click="display = false">Disable</button>
    <pre>{{ display }}</pre>
    <PerfectFigmaSettingsDisplay
      v-model="display" />
  </div>
  `,
  data () {
    return {
      display: true
    }
  }
})
```
</docs>
