<template>
<div class="perfect-figma">
  <PerfectFigmaContainer
    v-if="selected"
    :token="token"
    :file="file"
    :node="selected"
    :display="display"
    :opacity="opacity">
    <slot />
  </PerfectFigmaContainer>
  <PerfectFigmaBox
    :token="token"
    :file="file"
    :nodes="nodes"
    @settings="settings"
    @select="select" />
</div>
</template>

<script>
import fetchFigma from '@/mixins/fetchFigma'
import dexie from '@/mixins/dexie'
import PerfectFigmaBox from './PerfectFigmaBox'
import PerfectFigmaContainer from './PerfectFigmaContainer'
export default {
  name: 'PerfectFigma',
  mixins: [
    fetchFigma,
    dexie
  ],
  components: {
    PerfectFigmaBox,
    PerfectFigmaContainer
  },
  props: {
    /**
     * Figma node ids separated by coma,
     * https://www.figma.com/file/:fileId/:title?node-id=:nodeId
     */
    nodes: {
      type: String,
      required: true
    },
    /**
     * Images cache duration in hours
     */
    cache: {
      type: Number,
      default: 72
    }
  },
  data () {
    return {
      selected: '',
      display: true,
      opacity: 25
    }
  },
  methods: {
    settings (config) {
      Object.assign(this.$data, config)
    },
    select (node) {
      this.selected = node
    }
  }
}
</script>

<style lang="scss">
.perfect-figma {
  overflow: hidden;
}
</style>

<docs>
```
<PerfectFigma
  token="183821-34c36bd9-2a55-47b7-acd4-767859e778da"
  file="YThuDXhX6KCl7du6b7ik94"
  nodes="0%3A258,0%3A198">
  <div>My component wrapped by PerfectFigma</div>
</PerfectFigma>
```
</docs>
