<template>
  <div class="perfect-figma-settings-opacity">
    <input
      v-model="opacity"
      class="slider"
      type="range"
      min="0"
      max="100"
      value="50"
      @input="input">
  </div>
</template>

<script>
export default {
  name: 'PerfectFigmaSettingsOpacity',
  props: {
    value: {
      type: Number
    }
  },
  watch: {
    value (val) {
      this.opacity = val
    }
  },
  data () {
    return {
      opacity: this.value
    }
  },
  methods: {
    input (e) {
      this.$emit('input', Number(e.target.value))
    }
  }
}
</script>

<style lang="scss">
.perfect-figma-settings-opacity {
  box-sizing: border-box;
  width: 100%;
  height: 10px;
  line-height: 0;
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background: white;
    border: 1px dotted black;
    box-sizing: border-box;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin: 0;
    cursor: pointer;
  }
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background: black;
  }
  .slider::-moz-range-thumb {
    width: 10px;
    height: 10px;
    background: black;
    cursor: pointer;
  }
}
</style>

<docs>
Slider component to set opacity
```
new Vue({
  template: `
  <div>
    <button @click="setOpacity(20)">setOpacity(20)</button>
    <button @click="setOpacity(70)">setOpacity(70)</button>
    <pre>{{ transparency }}</pre>
    <PerfectFigmaSettingsOpacity
      v-model="transparency" />
  </div>
  `,
  data () {
    return {
      transparency: 50
    }
  },
  methods: {
    setOpacity (n) {
      this.transparency = n
    }
  }
})
```
</docs>
