<template>
<div class="perfect-figma-spinner">
  <div class="spinner" />
</div>
</template>

<script>
export default {
  name: 'PerfectFigmaSpinner'
}
</script>

<style lang="scss">
.perfect-figma-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .spinner {
    width: 20px;
    height: 20px;
    background-color: white;
    border: 1px dotted black;
    background: rgba(white, 0.7);
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
  }
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
</style>

<docs>
Spinner to display during loading, thanks to https://tobiasahlin.com/spinkit/ for saving me few lines
```
<div style="position:relative; height:100px">
  <PerfectFigmaSpinner />
</div>
```
</docs>
