<template>
<div class="perfect-figma-settings">
  <PerfectFigmaSettingsDisplay
    v-model="settings.display" />
  <div
    class="figma-settings-opacity-label">
    Opacity: <strong>{{ settings.opacity }}%</strong>
  </div>
  <PerfectFigmaSettingsOpacity
    v-model="settings.opacity" />
</div>
</template>

<script>
import PerfectFigmaSettingsDisplay from './PerfectFigmaSettingsDisplay'
import PerfectFigmaSettingsOpacity from './PerfectFigmaSettingsOpacity'
export default {
  name: 'PerfectFigmaSettings',
  components: {
    PerfectFigmaSettingsDisplay,
    PerfectFigmaSettingsOpacity
  },
  props: {
    display: {
      type: Boolean,
      default: true
    },
    opacity: {
      type: Number,
      default: 30
    }
  },
  data () {
    return {
      settings: {
        display: this.display,
        opacity: this.opacity
      }
    }
  },
  watch: {
    display (val) {
      this.settings.display = val
    },
    opacity (val) {
      this.settings.opacity = val
    },
    settings: {
      handler (val) {
        this.$emit('change', val)
      },
      deep: true
    }
  }
}
</script>

<style lang="scss">
.perfect-figma-settings {
  padding: 10px;
}
.figma-settings-opacity-label {
  display: inline-block;
  vertical-align: middle;
  float: right;
  line-height: 30px;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  font-size: 12px;
}
</style>

<docs>
```
new Vue({
  template: `
  <div>
    <button @click="opacity = 20">20</button>
    <button @click="opacity = 80">80</button>
    <button @click="display = !display">Toggle display</button>
    <pre>{{ display }}</pre>
    <pre>{{ opacity }}</pre>
    <PerfectFigmaSettings
      :display="display"
      :opacity="opacity"
      @change="change" />
  </div>
  `,
  data () {
    return {
      display: true,
      opacity: 20
    }
  },
  methods: {
    change (settings) {
      this.display = settings.display
      this.opacity = settings.opacity
    }
  }
})
```
</docs>
