<template>
  <div id="app">
    <PerfectFigma
      :token="token"
      :file="file"
      nodes="0%3A258,0%3A198,0%3A130,0%3A54" />
  </div>
</template>

<script>
import PerfectFigma from '@/components/PerfectFigma'
const token = process.env.VUE_APP_FIGMA_TOKEN
const file = process.env.VUE_APP_FIGMA_FILE
const nodes = process.env.VUE_APP_FIGMA_NODES

export default {
  name: 'App',
  components: {
    PerfectFigma
  },
  data () {
    return {
      token,
      file,
      nodes
    }
  }
}
</script>

<style lang="scss">
html, body, #app {
  margin: 0;
  padding: 0
}
</style>
